{% extends "../base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}registration{% endblock %}

{% block content %}
<style>
    #hint_id_username, #hint_id_password1, #hint_id_password2 {
        display: none;
    }
</style>
<div class="block">
    <div class="navigator mb-2">
        <div class="container">
            <p><a href="#" style="text-decoration: none;">lobby</a>/register</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-5" style="font-size: 32px;">registration</h2>
                <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                    <p class="mb-5">if you already have an account <a href="{% url "users:loginPage" %}" class="link link-secondary">follow this link</a></p>
                  <button class="btn btn-secondary">registration</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}